<h1>shopping-cart</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Donut</th>
            <th scope="col">Calories</th>
            <th scope="col">Price</th>
        </tr>
    </thead>

    <tbody>
        <tr let >
            <td>{{donut.name}}</td>
            <td>{{donut.calories}}</td>
            <td> $ 1.00  </td>
            <td><button (click)="removeDonut(donut.id)">Remove</button></td>
       </tr>
    </tbody>
</table>

<p> Total Calories :{{donut.calories}} </p>
<p> Total Price : $ {{total}}   </p>